@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{
    ViewBag.Title = "Single Coin Page!";
}
<!--
<div class="row" style="height: 50%;">
    <div class="col-md-6 bg-primary text-white  margin-left" style="height: 250px;">
        <div class="col-md-12 bg-primary text-white  margin-left"" style="height: 50%;">
            <h2>Performance graph</h2>
        </div>

        <div class="col-md-12 bg-primary text-white  margin-left" style="height: 50%;">
            <h2>Actual graph</h2>
        </div>
    </div>

    <div class="col-md-2 bg-primary text-white  margin-left padding-right" style="height: 250px;">
        <div class="col-md-12" style="height: 50%;">
            <p>Worth of Coin</p>
            <p>Gain to Date</p>
        </div>

        <div class="col-md-12" style="height: 50%;">
            <p>Current Price. Tap this box to toggle BTC or USD</p>
        </div>
    </div>

    <div class="col-md-2 bg-primary text-white  margin-left padding-right" style="height: 250px;">
        <h2>Price</h2>
    </div>

    <div class="col-md-2 bg-primary text-white  margin-left" style="height: 250px;">
        <h2>24 Hour Value Change</h2>
    </div>
</div>
-->

<div class="container">
    <div class="row" style="height: 50%; margin-bottom: 30px;">
        <ul class="col-md-5 col-xs-12 list-group">
            <div class="col-md-12 col-xs-12" style="height: 110px; padding: 0px 5px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 15px;">Coin Name</div>
                    <div class="panel-body" style="height: 50px;">Coin Content</div>
                    <div class="panel-footer" style="height: 40px;">Mini graph</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="height: 110px; padding: 5px 5px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 15px;">Coin Name</div>
                    <div class="panel-body" style="height: 50px;">Coin Content</div>
                    <div class="panel-footer" style="height: 40px;">Mini graph</div>
                </div>
            </div>
        </ul>
        
        <ul class="col-md-2 col-xs-12 list-group">
            <div class="col-md-12 col-xs-12" style="height: 110px; padding: 0px 0px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 20px;">Coin Name</div>
                    <div class="panel-body" style="height: 50px;">Coin Content</div>
                    <div class="panel-footer" style="height: 40px;">Mini graph</div>
                </div>
            </div>
            <div class="col-md-12 col-xs-12" style="height: 110px; padding: 5px 0px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 20px;">Coin Name</div>
                    <div class="panel-body" style="height: 50px;">Coin Content</div>
                    <div class="panel-footer" style="height: 40px;">Mini graph</div>
                </div>
            </div>
        </ul>

        <div class="col-md-5 col-xs-12">
            <div class="col-md-6 col-xs-12" style="height: 220px; padding: 0px 10px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 40px;">Coin Name</div>
                    <div class="panel-body" style="height: 100px;">Coin Content</div>
                    <div class="panel-footer" style="height: 85px;">Mini graph</div>
                </div>
            </div>

            <div class="col-md-6 col-xs-12" style="height: 220px; padding: 0px 5px 5px 5px;">
                <div class="panel panel-default text-center">
                    <div class="panel-heading" style="height: 40px;">Coin Name</div>
                    <div class="panel-body" style="height: 100px;">Coin Content</div>
                    <div class="panel-footer" style="height: 85px;">Mini graph</div>
                </div>
            </div>
        </div>
    </div>






    <div class="row" style="height: 50%;">

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>

        <div class="col-md-2 col-xs-12" style="height: 200px;">
            <div class="panel panel-default text-center">
                <div class="panel-heading" style="height: 40px;">Coin Name</div>
                <div class="panel-body" style="height: 80px;">Coin Content</div>
                <div class="panel-footer" style="height: 80px;">Mini graph</div>
            </div>
        </div>
    </div>
</div>
